.dev-page {
  padding: 60px 8%;
  background: #f5f7fa;
  min-height: 100vh;
  justify-content: center;
  align-items: stretch;
}


.dev-container {
  display: flex;
  padding-top: 135px;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
}

.dev-card {
  background: #fff;
  width: 280px;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.dev-card:hover {
  transform: translateY(-8px);
}

.dev-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.role {
  color: #0f766e;
  font-weight: 600;
}

.dev-description {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background: #e0f2f1;
  border-radius: 10px;
}
