.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f6f4ee;
  padding: 40px 20px;
  text-align: center;
}
.stat-box h2 {
  color: #1f7a4d;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  margin-bottom: 5px;
}

.stat-box p {
  color: #555;
  font-size: 14px;
}