*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
   background-color: white;
}

section{
  padding: 80px 60px;
} 
    
.section-heading{
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
  color: #0a3567;
  font-size: xx-large
}

.section-heading h2{
  font-size: 36px;
  margin-bottom: 50px;
}

.section-heading p{
  color: #666
} 

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 40px;
}

.card {
  background: #fff;
  border-radius: 16px;
  margin-right: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 16px 35px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.card-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #1e88e5;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.card-content button:hover {
  background: #1565c0;
}


/* Distrits Css */
.distict-sec1{
 background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
                  url('./assets/District_back.webp') center/cover no-repeat;
}

.dist-head{
  padding: 50px;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: #f5f6f8;
  text-decoration: underline;
}

.dist-cont{
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  font-family: 'Segoe UI';;
  font-size: large;
  color: #f4f5f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 60px;
}

.district-section-heading{
  text-align: center;
  padding-top: 130px;
  margin-bottom: 60px;
  font-weight: bold;
  color: #0a3567;
  font-size: xx-large
}

/* District Page  */
.dist-page-head{
  padding: 50px;
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
  font-weight: bold;
  color: #0a3567;
} 

.distic-page{
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  font-family: 'Segoe UI';;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #356091;
  font-size: medium;
}  

.distic-page h3{
  text-align: center;
  font-size: xx-large;
  color: #0a3567;
}

.trek-temple{
 font-weight: bolder;
 font-size:4rem;
 color: #16603c;
 align-items: center;
 padding: 1rem;
 margin: auto;
 justify-content: center;
 align-content: center;
 display: flex;
 padding-top: 2rem;
  background: #f6f4ee;
  padding-bottom: 2rem;
}


.back-btn {
  position: fixed;
  top: 6.5rem;
  left: 13px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #0a3567;
  color: white;
  cursor: pointer;
  font-weight: 600;
  z-index: 1000;
  width: 8rem;
}
